{% extends 'base_datatables.html'%} {% block pg_head %} الأماكن {% endblock %}
{% block url_1 %}
<a
  type="button"
  class="m-0 btn btn-success mr-4"
  href="{% url 'add_position' %}"
>
  <i class="fas fa-fw fa-plus-circle"></i>
  <span>اضافة مكان</span>
</a>
{% endblock %} {% block th_table %}
<th>المكان</th>
<th></th>
{% endblock %} {% block tr_table%} {% for item in position%}
<tr>
  <td>{{item.position_name}}</td>
  <td>
    <div class="d-flex justify-content-center">
      <a href="" class="btn btn-info btn-circle btn-sm">
        <i class="fas fa-edit"></i>
      </a>
    </div>
  </td>
</tr>
{% endfor %} {% endblock %}
