{% extends 'base_datatables.html'%}

{% block pg_head %}
    قائمة الانتظار
{% endblock %}

{% block export %}

{% endblock %}

{% block th_table %}
    <th>#</th>
    <th>النوع</th>
    <th>الاسم</th>
    <th>الكنية</th>
    <th>اسم الاب</th>
    <th>المستوى</th>
    <th>الحالة</th>
    <th>تعديل</th>
    <th>حذف</th>
{% endblock %}

{% block tr_table%}
    {% for item in person%}
    <tr>
        <td>{{item.person_id}}</td>
        <td>{{item.type_id}}</td>
        <td>{{item.first_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.father_name}}</td>
        <td>{{item.level_id.level_name}}</td>
        <td>
            <div class="d-flex justify-content-center">
                <a href="{% url 'unlock_person' item.person_id %}" class="btn btn-success btn-circle btn-sm">
                    <i class="fas fa-unlock"></i>
                </a>
            </div>
        </td>
        <td>
            <div class="d-flex justify-content-center">
                <a href="{% url 'edit_person' item.person_id %}" class="btn btn-info btn-circle btn-sm">
                    <i class="fas fa-edit"></i>
                </a>
            </div>
        </td>
        <td>
            <div class="d-flex justify-content-center">
                <a href="{% url 'del_person' item.person_id %}" class="btn btn-danger btn-circle btn-sm">
                    <i class="fas fa-user-times"></i>
                </a>
            </div>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
