{% extends 'base_datatables.html'%} {% block pg_head %} الدورات {% endblock %}
{% block url_1 %}
<a type="button" class="m-0 btn btn-success mr-4" href="{% url 'add_course' %}">
  <i class="fas fa-fw fa-plus-circle"></i>
  <span>اضافة دورة</span>
</a>
{% endblock %} {% block th_table %}
<th>#</th>
<th>اسم الدورة</th>
<th>عدد الجلسات</th>
<th>تاريخ البداية</th>
<th>تاريخ النهاية</th>
<th></th>
{% endblock %} {% block tr_table%} {% for item in course%}
<tr>
  <td>{{item.course_id}}</td>
  <td>{{item.course_name}}</td>
  <td>{{item.num_of_session}}</td>
  <td>{{item.start_date}}</td>
  <td>{{item.end_date}}</td>
  <td>
    <div class="d-flex justify-content-center">
      <a href="" class="btn btn-info btn-circle btn-sm">
        <i class="fas fa-edit"></i>
      </a>
    </div>
  </td>
</tr>
{% endfor %} {% endblock %}
