{% extends 'base_datatables.html'%} {% block pg_head %} المستويات {% endblock %}
{% block url_1 %}
<a type="button" class="m-0 btn btn-success mr-4" href="{% url 'add_level' %}">
  <i class="fas fa-fw fa-plus-circle"></i>
  <span>اضافة مستوى</span>
</a>
<h5 class="text-danger p-2">
  * يرجى البدء بإضافة المستويات من الستوى الأدنى إلى المستوى الأعلى
</h5>
{% endblock %} {% block th_table %}
<th>#</th>
<th>المستوى</th>
<th></th>
{% endblock %} {% block tr_table%} {% for item in level%}
<tr>
  <td>{{item.level_id}}</td>
  <td>{{item.level_name}}</td>
  <td>
    <div class="d-flex justify-content-center">
      <a href="" class="btn btn-info btn-circle btn-sm">
        <i class="fas fa-edit"></i>
      </a>
    </div>
  </td>
</tr>
{% endfor %} {% endblock %}
